@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.App {
    background-color: #edf3f7;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 2% 5%;
}

h1 {
    margin: 0;
    margin-bottom: 25px;
    font-weight: 700;
}

header {
    display: flex;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 5px;
}

th,
td {
    border: 1px solid #007bff;
}

th {
    background-color: #6eb0f7;
    color: black;
}

td {
    cursor: pointer;
}

label {
    margin: 0 5px;
}

input,
select {
    margin-right: 10px;
}

p {
    display: inline;
    font-weight: 700;
    margin: 0 0px 10px 0;
}

button {
    margin-right: 10px;
}

#search-field {
    width: 400px;
}

.search-filter {
    display: flex;
    align-items: flex-end;
}

.filter {
    margin: auto 0;
}

.button-toggle {
    margin-right: 10px;
}

.loading {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.results {
    font-weight: 600;
}

.name-column {
    min-width: 300px;
}

.city-column {
    min-width: 200px;
}

.state-column {
    min-width: 50px;
}

.phone-column {
    min-width: 125px;
}

.genre-column {
    min-width: 450px;
}

.no-results {
    margin-top: 10px;
    text-align: center;
}

.pages {
    margin-left: 10px;
}

.page-button {
    margin-right: 5px;
}
