@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.App {
    background-color: #edf3f7;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin: 0;
    padding: 10px;
}

table,
th,
td {
    border-collapse: collapse;
    padding: 5px;
}

th,
td {
    border: 1px solid black;
}

th {
    background-color: #26409e;
    color: white;
}

form {
    margin: 10px;
}

label {
    margin-right: 5px;
}

input,
select {
    margin-right: 10px;
}

#search-field {
    width: 200px;
}

.name-column {
    width: 300px;
}
.city-column {
    width: 200px;
}
.state-column {
    width: 50px;
}
.phone-column {
    width: 125px;
}
.genre-column {
    width: 450px;
}

.no-results {
    text-align: center;
}

.filter,
.button-toggle {
    margin-bottom: 10px;
}
